# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Autotool files
Makefile.in
aclocal.m4
autom4te.cache/
configure
Makefile
config.log
config.status
doc/Makefile
lib/.deps/
lib/Makefile
lib/libltdl/.deps/
lib/libltdl/loaders/.deps/
lib/sha_three/.deps/
libtool
src/.deps/
src/core/.deps/
src/data_source/.deps/
src/debug/.deps/
src/hash/.deps/
src/node/.deps/
src/olyconf-h.in~
src/olyconf.h
src/resources/.deps/
src/stamp-h1
tests/.deps/
tests/atconfig
tests/oly/core/.deps/
tests/oly/hash/.deps/
tests/oly/node/.deps/
tests/prototypes/.deps/
tests/tap/.deps/
doc/bibliography.html
doc/code_standards.html
doc/data_source_interface.html
doc/glossary.html
doc/index.html
doc/inline_in_automake.html
doc/input_doc.html
i18n/res_index.txt
lib/libltdl/.dirstamp
lib/libltdl/loaders/.dirstamp
lib/sha_three/.dirstamp
oly
resex
src/.dirstamp
src/core/.dirstamp
src/data_source/.dirstamp
src/debug/.dirstamp
src/hash/.dirstamp
src/node/.dirstamp
src/resources/.dirstamp
tests/oly/data_source/
tests/prototypes/.dirstamp
yaml_to_sqlite
i18n/en.res
i18n/en_US.res
i18n/en_US_POSIX.res
i18n/oly_lang.dat
i18n/res_index.res
i18n/res_list.txt
i18n/root.res
tests/.dirstamp
tests/data/i18n/el.res
tests/data/i18n/en.res
tests/data/i18n/en_US.res
tests/data/i18n/en_US_POSIX.res
tests/data/i18n/ja.res
tests/data/i18n/oly_lang.dat
tests/data/i18n/res_index.res
tests/data/i18n/res_index.txt
tests/data/i18n/res_list.txt
tests/data/i18n/root.res
tests/data/i18n/zh.res
tests/data/test_sqlite.sqlite3
tests/runtests
tests/tap/.dirstamp
